# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# VS Code settings
.vscode/

# Data (ignore large/raw data files)
data/raw/

# Logs
*.log